// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/**Start Trips Section**/

.trips {
    margin-top: 90px;

    .trips-tab {
        border-bottom: none;

        .nav-link {
            font-weight: bold;
            color: #3d3d3d;
            padding: 20px;
            border-bottom: 4px solid transparent;

            &.active {
                background-color: transparent;
                border-color: transparent transparent $main-color;
                color: $main-color;
            }
        }
    }

    .tabSlider {
        padding-top: 30px;
        margin-bottom: 50px;

        .slick-list {
            padding-top: 60px !important;

            .slick-track {
                padding: 16px 0;

                .item {
                    position: relative;
                    padding: 0 8px;
                    text-decoration: none;
                    margin-top: -60px;
                    transition: all ease-in-out .25s;
        
                    .slider-img {
                        position: relative;
                        border-radius: 16px;
                        overflow: hidden;
                        box-shadow: 0 2px 17px 0 rgb(0 0 0 / 17%);
        
                        .slider-title {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 50px;
                            opacity: 0.5;
                            -webkit-filter: blur(7px);
                            filter: blur(7px);
                            background-color: #1f1f1f;
        
                        }
        
                        h3 {
                            position: absolute;
                            bottom: 0;
                            padding-bottom: 8px;
                            text-align: center;
                            width: 100%;
                            color: #fff;
                            font-size: 21px;
                            font-weight: normal;
                        }
                    }
        
                    p {
                        position: absolute;
                        text-align: center;
                        color: #2a2a2a;
                        font-size: 14px;
                        padding: 20px 14px 0;
                        height: 60px;
                        overflow: hidden;
                        transition: all ease-in-out .25s;
                    }
        
                    &:not(:hover) {
                        margin-top: 0; 

                        p {
                            display: none;
                        }
                    }
                }
            }

            
        }

        
    }

    .trips-arrows {
        list-style: none;

        li {
            width: 48px;
            height: 48px;
            color: $main-color;
            border: 1px solid;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .btn-more {
        padding: 10px 60px;
    }
}

/**End Trips Section**/