// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/*** Navbar ***/
.navbar-light {

    .navbar-nav .nav-link {
        font-family: 'Nunito', sans-serif;
        position: relative;
        margin-right: 38px;
        padding: 47px 0 32px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        outline: none;
        transition: .5s;
        line-height: 1;

        &:hover, &.active {
            color: #fff
        }

        &.user-btn {
            padding: 27px 0 17px; 
        }
    }

    .navbar-brand img {
        max-height: 60px;
        transition: .5s;
    }

    &.sticky-top {
        .navbar-nav .nav-link {
            padding: 20px 0;

            &.user-btn {
                padding: 5px 0;
            }
        } 

        .navbar-brand img {
            max-height: 45px;
        }
    }

    
} 

@media (max-width: 992px) {
    .navbar-light {
        &.sticky-top {
            position: relative;
            background: #FFFFFF;

            .navbar-nav .nav-link {
                padding: 10px 0;
                margin-left: 0;
                color: var(--dark) !important;
            }
        }

        .navbar-collapse {
            margin-top: 15px;
            border-top: 1px solid #b8d1d5;
        }

        .navbar-nav .nav-link {
            padding: 10px 0;
            margin-left: 0;
        }
        .navbar-brand img {
            max-height: 45px;
            width: 100px;
        }
    }

    .logo-mobile {
           display: flex; 
    }
    
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(46, 54, 142, 0.07);

        &.no-slider {
            position: relative;
            -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
            background-color: $main-color;
        }

        &.sticky-top {
            position: fixed;
        }

        .navbar-nav {

            .nav-link {

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    bottom: -1px;
                    left: 50%;
                    background: #fff;
                    transition: .5s;
                }

                &:hover::before, &.active::before {
                    width: calc(100% - 2px);
                    left: 1px;
                }

                &.nav-contact::before {
                    display: none;
                }
            }
        } 

        
    }
    
}

@media (max-width: 992px)   {
    .navbar {
        background: $main-color;

        // &.no-slider {
        //     background: $main-color;
        // }

        &.navbar-light .navbar-toggler {
            color: #fff;
            border-color: #fff;
            box-shadow: none;
            padding: 0rem 0.75rem;
        }
    }
    
    .tab-search .tab-btn-wrapper, .tab-search .tab-btn-wrapper .tab-btn{
        width: 100%;
        background: #ffffff;
        border-radius: 0;
        color: #000;
        padding: 2px 4px;
        
    }
    .tab-search .tab-btn-wrapper .tab-btn.active, .tab-search .tab-btn-wrapper .tab-btn {
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
    }
    .tab-search .tab-btn-wrapper:first-child .tab-btn {
        border-radius: 15px 0 0 0;
        -webkit-border-radius: 15px 0 0 0;
        -moz-border-radius: 15px 0 0 0;
    }
    .tab-search .tab-content-bg {
        border-radius: 0 0 15px 15px;
    }
    .form-search {
        padding-right: 0; 
    }
    .form-search .btn-search {
        position: relative;
    }
    .form-search .btn-search {
        position: relative;
        display: block;
        margin: auto;
        margin-top: 10px;
        right: 0;
    }
    .form-search .guest-cont {
        width: initial
    }
}