// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
// a {
//   color: $brand-color;
//   text-decoration: none;

//   @include on-event {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }

body {
  color: #000000;
  .body-bg {
    background-image: linear-gradient(181deg, #c4e6f0, #fff);
  }
}

.tab-content>.tab-pane{ display: block; height: 0px; overflow: hidden; }
.tab-content>.active{ height: auto;}

img {
  max-width: 100%;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.section-title {
  margin-bottom: 50px;

  h2 {
    font-size: 84px;
    font-weight: bold;
  }

  .sectin-text {
    font-size: 18px;
    color: #5c5c5c;

    .main-text {
      font-size: 21px;
      font-weight: bold;
    }
  }
}
