// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
// a {
//   color: $brand-color;
//   text-decoration: none;

//   @include on-event {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }

body {
  color: #000000;
  .body-bg {
    background-image:url("../img/clouds.png"), linear-gradient(181deg, #c4e6f0, #fff);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// .tab-content>.tab-pane{ display: block; }
// .tab-content>.active{ height: auto;}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn-more {
  padding: 10px 60px;
}

.btn-primary {
  font-weight: 600;
}

section {
  margin-bottom: 120px;
}

.travel-card {
  border-radius: 16px;
  box-shadow: 0 2px 17px 0 rgb(0 0 0 / 15%);
  border: none;
  overflow: hidden;
}

.__selected {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -10px;
  right: -8px;
  font-size: 11px;
  background: $main-color;
  color: #ffffff;

}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.section-title {
  margin-bottom: 50px;

  h2 {
    font-size: 84px;
    font-weight: bold;
    margin-right: 37px;
    line-height: 1;
  }

  .sectin-text {
    font-size: 18px;
    color: #5c5c5c;

    p {
      margin-bottom: 0;
      line-height: 1;

      &.main-text {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 6px;
        line-height: 1.3;
      }
    }

    
  }
}

.main-dark {
  background: $dark-blue;
  border-color: $dark-blue;
}

.second-color {
  color: $second-color;
}


.down-triangle {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;    
  border-right: 6px solid transparent;    
  border-top: 9px solid;
}

.hide {
  display: none;
}

.up-triangle {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid;
}

.mobileview {
  display: none;
}

.desktopview {
  display: initial;
}

@media (max-width: 992px ) {

  .section-title {

    h2 {
      font-size: 40px;
    }
  }

  .mobileview {
    display: initial;
  }

  .desktopview {
    display: none;
  }
}
