
.icon-hotel:before { content: '\e800'; } /* '' */
.icon-offline:before { content: '\e801'; } /* '' */
.icon-running:before { content: '\e802'; } /* '' */
.icon-sportive-car-front:before { content: '\e803'; } /* '' */
